@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  font-family: "Poppins", sans-serif;
}

/* Add these styles to your existing CSS file */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  appearance: none;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgb(17, 1, 26)
  );
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(139, 92, 246, 0.4),
    rgba(59, 130, 246, 0.4)
  );
  border-radius: 10px;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(139, 92, 246, 0.6),
    rgba(59, 130, 246, 0.6)
  );
}

/* For Firefox */
.finsage-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 92, 246, 0.4) transparent;
}
